<template>
  <div id="app" class="container">
    <h1>Game of Life</h1>
    <form>
      <div>
        <label>
          Refresh interval
          <input
            v-model="refreshIntervalMillisec"
            type="number"
            size="5"
            @change="unpause"
          />
        </label>
      </div>
      <div>
        <label>
          Density
          <input v-model="initialDensity" type="number" step="0.01" size="4" />
        </label>
        <input type="button" value="Start random" @click="startRandom" />
      </div>
      <div>
        <input type="button" value="Clear" @click="clear" />
        <input
          type="button"
          :value="timer ? 'Pause' : 'Play'"
          @click="togglePause"
        />
        <label>
          Show grid
          <input v-model="isGridVisible" type="checkbox" />
        </label>
      </div>
      <div>
        <input
          type="button"
          value="Load interesting world"
          @click="loadInterestingWorld"
        />
        <input type="button" value="Snapshot world" @click="makeSnapshot" />
        <input type="button" value="Load snapshot" @click="loadSnapshot" />
        <input type="button" value="Save world" @click="saveWorld" />
        <input type="file" @change="openWorld" />
      </div>
    </form>
    <div class="world" :class="{ 'show-grid': isGridVisible }">
      <table>
        <tr v-for="(row, y) in cells" :key="y">
          <td
            v-for="(cell, x) in row"
            :key="x"
            :class="{ alive: cell, dead: !cell }"
            @click="toggleCell(y, x)"
          ></td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import * as gameOfLife from "./game-of-life";
import * as filesHelper from "./files-helper";
import interestingWorld from "./interesting_world.json";

export default Vue.extend({
  data() {
    return {
      nbCellsX: 150,
      nbCellsY: 100,
      initialDensity: 0.07,
      refreshIntervalMillisec: 200,
      isGridVisible: false,
      cells: [] as boolean[][],
      snapshot: null as boolean[][] | null,
      timer: null as ReturnType<typeof setInterval> | null,
    };
  },
  created() {
    for (let y = 0; y < this.nbCellsY; y++) {
      this.cells.push(Array(this.nbCellsX));
    }
    this.startRandom();
  },
  beforeDestroy() {
    this.pause();
  },
  methods: {
    toggleCell(y: number, x: number): void {
      this.cells[y][x] = !this.cells[y][x];
      this.$forceUpdate();
    },
    togglePause(): void {
      if (this.timer == null) {
        this.unpause();
      } else {
        this.pause();
      }
    },
    pause(): void {
      if (this.timer != null) {
        clearInterval(this.timer);
        this.timer = null;
      }
    },
    unpause(): void {
      this.pause();
      this.timer = setInterval(
        this.buildNextGeneration,
        this.refreshIntervalMillisec
      );
    },
    clear(): void {
      this.cells = gameOfLife.rebuildEmptyWorld(this.cells);
    },
    startRandom(): void {
      this.pause();
      this.cells = gameOfLife.rebuildRandomWorld(
        this.cells,
        this.initialDensity
      );
      this.unpause();
    },
    buildNextGeneration(): void {
      this.cells = gameOfLife.buildNexGenerationWorld(this.cells);
    },
    loadInterestingWorld(): void {
      this.pause();
      this.cells = interestingWorld;
      this.unpause();
    },
    makeSnapshot(): void {
      this.snapshot = this.cells;
    },
    loadSnapshot(): void {
      if (this.snapshot) {
        this.cells = this.snapshot;
      }
    },
    saveWorld(): void {
      filesHelper.saveAsJson(this.cells, "world.json");
    },
    async openWorld(event: Event): Promise<void> {
      const target = event.target as HTMLInputElement;
      const files: FileList = target.files as FileList;
      if (files.length > 0) {
        const world = await filesHelper.readJson(files[0]);
        this.cells = world as boolean[][];
      }
    },
  },
});
</script>

<style scoped>
.world td {
  height: 6px;
  min-width: 6px;
  border: 1px solid;
  border-color: white;
}
.show-grid td {
  border-color: lightgrey;
}
.world td.alive {
  background-color: black;
}
.world td.dead {
  background-color: white;
}
.world {
  border: 1px solid black;
  display: inline-block;
}
</style>

